---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Blog from '../components/Blog.astro';
import Services from '../components/Services.astro'
import Team from '../components/Team.astro';
import Jobs from '../components/Jobs.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <Team />
    <Blog />
    <Jobs />
    <!-- <Projects /> -->
    <Contact />
  </main>
  <Footer />
</Layout>